<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Item</title>
</head>
<body>
    <h1>Add Item</h1>
    <form action="{{ url_for('add_item') }}" method="post">
        <label for="item">Item Name:</label>
        <input type="text" id="item" name="item"><br><br>
        <button type="submit">Add</button>
    </form>
    <h1>Remove Item</h1>
    <form action="{{ url_for('delete_item') }}" method="post">
        <label for="item_name">Item Name:</label>
        <input type="text" id="item_name" name="item_name"><br><br>
        <button type="submit">Remove</button>
    </form>
</body>
</html>